@using System.ServiceModel.Syndication
@{
    ViewBag.Title = "Home Page";
    var feedItems = (IEnumerable<SyndicationItem>) ViewBag.FeedItems;
}
<section id="home">
<div class="slider rs-slider load">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                    <div class="elements">
                        <div class="tp-caption lfl"
                             data-x="133"
                             data-y="47"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="~/img/content/slider/rs-slider10-img1.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption lfl"
                             data-x="327"
                             data-y="225"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="~/img/content/slider/rs-slider10-img3.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption lfl lft"
                             data-x="18"
                             data-y="200"
                             data-speed="1000"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="~/img/content/slider/rs-slider10-img2.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="157"
                             data-y="287"
                             data-speed="1000"
                             data-start="1880"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 4">
                            <img src="~/img/content/slider/rs-slider10-img4.png" class="replace-2x" alt="">
                        </div>

                        <h2 class="tp-caption lft skewtotop title"
                            data-x="722"
                            data-y="101"
                            data-speed="1000"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power1.easeIn">
                            Thiết kế <strong>Responsive</strong>
                        </h2>

                        <div class="tp-caption lfr skewtoright description"
                             data-x="707"
                             data-y="189"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 480px">
                            <p>
                                Trải nghiệm sự hiển thị hoàn hảo trên mọi thiết bị với thiết kế <strong>Responsive</strong>. 
                                Chỉ cần chi phí cho 1 website bạn có thể thoải mái quản lý nội dung, cung cấp cho khách hàng khả năng truy cập trên tất
                                cả thiết bị Smart-phone, Tablet, PC, Laptop... 
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn tp-caption lfb btn-primary"
                           data-x="722"
                           data-y="342"
                           data-speed="1000"
                           data-start="1700"
                           data-easing="Power4.easeOut"
                           data-endspeed="500"
                           data-endeasing="Power1.easeIn">
                            Xem nào
                        </a>
                    </div>

                    <img src="~/img/content/slider/rs-slider10-bg.png" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>
                
                <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                    <div class="elements">
                        <h2 class="tp-caption sft skewtotop title"
                            data-x="15"
                            data-y="101"
                            data-speed="1000"
                            data-start="1100"
                            data-easing="Power4.easeOut"
                            data-endspeed="400"
                            data-endeasing="Power1.easeIn">
                            Quảng bá với <strong>SEO</strong>
                        </h2>

                        <div class="tp-caption lfl skewtoleft description col-xs-5"
                             data-x="0"
                             data-y="189"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 520px;">
                            <p>
                                Hãy để website của bạn luôn xuất hiện trên TOP mỗi khi người dùng tìm kiếm từ khóa liên quan, 
                                với giải pháp <strong>SEO - Tối ưu hóa tìm kiếm</strong> của 4biz. Quảng bá sản phẩm của 
                                bạn là trách nhiệm của chúng tôi.
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn btn-default orang tp-caption customin"
                           data-x="15"
                           data-y="332"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1200"
                           data-start="1000"
                           data-easing="Power3.easeInOut"
                           data-endspeed="300"
                           style="z-index: 5">
                            Xem nào
                        </a>
                        
                        <div class="tp-caption customin"
                             data-x="900"
                             data-y="240"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img1.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="795"
                             data-y="235"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img2.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="888"
                             data-y="308"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img3.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="975"
                             data-y="235"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img4.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="944"
                             data-y="142"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img5.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="835"
                             data-y="142"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img6.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="752"
                             data-y="58"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img7.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="690"
                             data-y="171"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img8.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="708"
                             data-y="302"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2600"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img9.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="806"
                             data-y="388"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img10.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="952"
                             data-y="388"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img11.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="1048"
                             data-y="302"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img12.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="1068"
                             data-y="171"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img13.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="1002"
                             data-y="58"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3600"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img14.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="883"
                             data-y="17"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             data-endeasing="Power3.easeInOut"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider11-img15.png" class="replace-2x" alt="">
                        </div>
                    </div>

                    <img src="~/img/content/slider/rs-slider11-bg.png" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>
                
                <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                    <div class="elements">
                        <h2 class="tp-caption sft skewtotop title"
                            data-x="15"
                            data-y="101"
                            data-speed="1000"
                            data-start="1100"
                            data-easing="Power4.easeOut"
                            data-endspeed="400"
                            data-endeasing="Power1.easeIn">
                            Xây dựng <strong>Mobile Apps</strong>
                        </h2>

                        <div class="tp-caption lfl skewtoleft description col-xs-5"
                             data-x="0"
                             data-y="189"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 520px;">
                            <p>
                                Thị trường ứng dụng di động sôi nổi đang chờ đón bạn.
                                Cho chúng tôi ý tưởng, 4biz sẽ biến ý tưởng tuyệt vời 
                                của bạn thành ứng dụng di động trên mọi nền tảng iOS, Android, Windows Phone...
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn btn-primary tp-caption customin"
                           data-x="15"
                           data-y="332"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1200"
                           data-start="1000"
                           data-easing="Power3.easeInOut"
                           data-endspeed="300"
                           style="z-index: 5">
                            Xem nào
                        </a>

                        <div class="tp-caption lfb skewtobottom customin"
                             data-x="550"
                             data-hoffset="100"
                             data-y="316"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-360;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-end="14000"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 1">
                            <img src="~/img/content/slider/rs-slider12-img1.png" class="replace-2x" alt="">
                        </div>
                        
                        <div class="tp-caption customin"
                             data-x="795"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="2000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 4">
                            <img src="~/img/content/slider/rs-slider12-img2.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="790"
                             data-y="34"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="2400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider12-img3.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="613"
                             data-y="160"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 4">
                            <img src="~/img/content/slider/rs-slider12-img4.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="598"
                             data-y="73"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="3800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider12-img5.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="978"
                             data-y="160"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="4800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 4">
                            <img src="~/img/content/slider/rs-slider12-img6.png" class="replace-2x" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="984"
                             data-y="73"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="5200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="~/img/content/slider/rs-slider12-img7.png" class="replace-2x" alt="">
                        </div>
                    </div>

                    <img src="~/img/content/slider/rs-slider12-bg.png" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div><!-- .rs-slider -->
@if (feedItems != null)
{
    <div class="banner-set banner-set-mini banner-set-no-pagination load">
        <div class="container">
            <div class="banners">
                @foreach (var feedItem in feedItems)
                {
                    var doc = new HtmlAgilityPack.HtmlDocument();
                    doc.LoadHtml(feedItem.Summary.Text);
                    <a href="@feedItem.Links[0].GetAbsoluteUri()" class="banner">
                        <img src="@doc.DocumentNode.Descendants("img").Select(n => n.Attributes["src"].Value).ToArray().FirstOrDefault()" class="replace-2x" width="127" height="79" alt="">
                        <h2 class="title">@feedItem.Title.Text</h2>
                    </a>
                }
            </div><!-- .banners -->
            <div class="clearfix"></div>
        </div>
        <div class="nav-box">
            <div class="container">
                <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <div class="pagination switches"></div>
                <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
    <!-- .banner-set -->
}
</section>
<div class="clearfix"></div>
<div id="main">
    <article class="content">
        <section id="services">
            <div class="full-width-box bottom-padding cm-padding-bottom-36">
                <div class="fwb-bg fwb-blur" data-blur-image="img/content/office-3.jpg" data-blur-amount="3">
                    <div class="overlay"></div>
                </div>

                <div class="container">
                    <div class="title-box text-center title-white" data-appear-animation="fadeInDown">
                        <h2 class="h1 title">Dịch vụ</h2>
                    </div>
                    <p class="text-center white">4biz hân hạnh cung cấp những dịch vụ chất lượng cao, hỗ trợ đắc lực cho việc kinh doanh của bạn.</p>
                    <div class="row services white">
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInDown">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="responsive" data-s="42" data-c="#fff" data-hc="0" data-d="1600"></div>
                                </div>
                                <h6 class="title">Xây dựng ứng dụng Web</h6>
                                <div class="text-small">Các ứng dụng như quản lý kho, nhân sự, thu chi, nhập xuất hàng... nay đã có thể thực hiện online hay các website thương mại điện tử, giới thiệu doanh nghiệp... Giúp bạn tiết kiệm thời gian, chi phí và có thể kiểm soát cả hệ thống dù ở bất cứ đâu với thiết kế Reponsive.</div>
                            </a>
                        </div>
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInUp">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="globe" data-s="42" data-c="#fff" data-hc="0"></div>
                                </div>
                                <h6 class="title">SEO - Tối ưu tìm kiếm</h6>
                                <div class="text-small">Với giải pháp trọn gói bao gồm: Tối ưu nội dung, mạng xã hội, email,...</div>
                            </a>
                        </div>
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInLeft">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="cellphone" data-s="42" data-c="#fff" data-hc="0"></div>
                                </div>
                                <h6 class="title">Xây dựng ứng dụng di động</h6>
                                <div class="text-small">Chạy trên tất cả nền tảng. Cung cấp cả 2 giải pháp Native và Cross-platform.</div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInLeft">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="bug" data-s="42" data-c="#fff" data-hc="0"></div>
                                </div>
                                <h6 class="title">Bảo trì sản phẩm sẵn có</h6>
                                <div class="text-small">Hỗ trợ bảo trì và phát triển ứng dụng Web hoặc Di động sẵn có.</div>
                            </a>
                        </div>
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInDown">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="brush" data-s="42" data-c="#fff" data-hc="0"></div>
                                </div>
                                <h6 class="title">Nhận dạng thương hiệu</h6>
                                <div class="text-small">Thiết kế logo, banner, poster với bộ nhận dạng thương hiệu riêng biệt.</div>
                            </a>
                        </div>
                        <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInUp">
                            <a href="#">
                                <div class="icon border">
                                    <div class="livicon" data-n="piggybank" data-s="42" data-c="#fff" data-hc="0" data-d="1600"></div>
                                </div>
                                <h6 class="title">Tư vấn miễn phí</h6>
                                <div class="text-small">Giải pháp ứng dụng công nghệ cho ý tưởng kinh doanh của bạn.</div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- .full-width-box -->
        </section>
        <section id="workflow">
            <div class="container">
                <div class="bottom-padding">
                    <div class="title-box text-center" data-appear-animation="fadeInDown">
                        <h1 class="title">Con đường thành công</h1>
                    </div>

                    <div class="steps" data-appear-animation="bounceInLeft">
                        <div class="step text-center border-warning bg-warning white">
                            <div class="step-wrapper">
                                <span class="livicon" data-n="star-empty" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                                <div class="title-box text-center title-white">
                                    <h4 class="title">Ý tưởng</h4>
                                </div>
                                <p>Bạn có ý tưởng kinh doanh qua mạng, ứng dụng thương mại điện tử vào kinh doanh.</p>
                            </div>
                        </div>

                        <div class="step text-center border-grey bg-grey white">
                            <div class="step-wrapper">
                                <span class="livicon" data-n="pencil" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                                <div class="title-box text-center title-white">
                                    <h4 class="title">Tư vấn thiết kế</h4>
                                </div>
                                <p>Chúng tôi tư vấn giải pháp, thiết kế cơ bản và thỏa thuận chi phí.</p>
                            </div>
                        </div>

                        <div class="step text-center border-info bg-info white">
                            <div class="step-wrapper">
                                <span class="livicon" data-n="hammer" data-s="62" data-c="#fff" data-hc="#f6f5f5"></span>
                                <div class="title-box text-center title-white">
                                    <h4 class="title">Phát triển</h4>
                                </div>
                                <p>Thỏa thuận ký kết, chúng tôi tiến hành xây dựng theo đúng nội dung đã cam kết.</p>
                            </div>
                        </div>

                        <div class="step text-center border-success bg-success white">
                            <div class="step-wrapper">
                                <span class="livicon" data-n="bug" data-c="#fff" data-hc="#f6f5f5" data-s="64"></span>
                                <div class="title-box text-center title-white">
                                    <h4 class="title">Kiểm định</h4>
                                </div>
                                <p>Sau khi xây dựng hoàn tất, sẽ chuyển giao cho bạn kiểm định, sửa chửa nếu có lỗi và nghiệm thu.</p>
                            </div>
                        </div>

                        <div class="step text-center border-error bg-error white">
                            <div class="step-wrapper">
                                <span class="livicon" data-n="rocket" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                                <div class="title-box text-center title-white">
                                    <h4 class="title">Giao hàng</h4>
                                </div>
                                <p>Bàn giao sản phẩm hoàn thiện nhất và hỗ trợ bảo trì 1 năm cho lỗi kĩ thuật.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="full-width-box bottom-padding cm-padding-bottom-36">
                <div class="fwb-bg fwb-paralax band-6" data-stellar-background-ratio="0.5"><div class="overlay"></div></div>

                <div class="container">
                    <div class="portfolio">
                        <div class="btn-group filter-buttons filter-list white" data-appear-animation="fadeInDown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                All works <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-filter="*" class="active">Tất cả</a></li>
                                <li><a href="#" data-filter=".introduction">Giới thiệu</a></li>
                                <li><a href="#" data-filter=".ecommerce">Thương mại điện tử</a></li>
                                <li><a href="#" data-filter=".mobile">Ứng dụng di động</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div><!-- .filter-buttons -->

                        <div class="clearfix"></div>

                        <div class="row filter-elements" data-appear-animation="bounceInUp">
                            <div class="work-element ecommerce col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/smart-health-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Smart Health</h3>
                                        <div class="description">Thương mại điện tử</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element introduction col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/au-co-bien-hoa-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Bệnh viện Âu Cơ Biên Hòa</h3>
                                        <div class="description">Giới thiệu</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element introduction col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/vay-365-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Vay 365</h3>
                                        <div class="description">Giới thiệu</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element ecommerce col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/dong-phuc-viet-anh-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Đồng phục Việt Anh</h3>
                                        <div class="description">Thương mại điện tử</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element ecommerce col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/kim-bien-market-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Kim Biên Market</h3>
                                        <div class="description">Thương mại điện tử</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element introduction col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/smart-salt-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Smart Salt</h3>
                                        <div class="description">Giới thiệu</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element introduction col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/conceive-plus-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">Conceive Plus</h3>
                                        <div class="description">Giới thiệu</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->

                            <div class="work-element mobile col-xs-12 col-sm-3 col-md-3">
                                <a href="portfolio-single.html" class="work">
                                    <img src="~/img/content/projects/one-piece-app-avatar.png" width="270" height="197" alt="">
                                    <span class="shadow"></span>
                                    <div class="bg-hover"></div>
                                    <div class="work-title">
                                        <h3 class="title">One Piece App</h3>
                                        <div class="description">Ứng dụng di động</div>
                                    </div>
                                </a>
                            </div><!-- .work-element -->
                        </div>
                    </div>
                </div>
            </div><!-- .full-width-box -->
        </section>
        <section id="clients">
            <div class="container">
                <div class="manufactures carousel-box load overflow bottom-padding" data-carousel-autoplay="true">
                    <div class="title-box">
                        <a class="next" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
			    </svg>
                        </a>
                        <a class="prev" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
			    </svg>
                        </a>
                        <h2 class="title">Khách hàng của chúng tôi</h2>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="carousel">
                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/smart-health-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/smart-salt-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/conceive-plus-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/au-co-bien-hoa-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/vay-365-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/thoi-trang-viet-anh-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <a href="#" class="make">
                                    <img src="~/img/content/clients/kim-bien-market-logo.png" width="170" height="170" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .containet -->
            <div class="full-width-box bottom-padding">
                <div class="fwb-bg fwb-blur" data-blur-image="img/content/band-1.jpg" data-blur-amount="3">
                    <div class="overlay"></div>
                </div>

                <div class="container">
                    <div class="title-box text-center title-white">
                        <h1 class="title">Khác hàng nói gì !?</h1>
                    </div>

                    <div class="respond-carousel">
                        <div class="carousel-box load" data-carousel-pagination="true" data-carousel-one="true" data-carousel-nav="false" data-carousel-autoplay="true">
                            <div class="row">
                                <div class="carousel">
                                    <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                                        <div class="description border-white">
                                            <blockquote>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis at sit iure accusamus repellendus ut minus explicabo delectus et culpa quisquam voluptatum dolorum. Repudiandae recusandae voluptatum autem odit eos blanditiis omnis laudantium cupiditate modi aliquid a aut quibusdam aspernatur voluptates ipsam officiis sint nemo delectus dicta veritatis assumenda accusamus eius.
                                            </blockquote>
                                        </div>
                                        <div class="name">
                                            <div class="icon">
                                                <img class="img-circle" src="img/content/avatar-1.jpg" alt="">
                                            </div>

                                            <strong>John Doe</strong>
                                            <div>Designer, Infostyle</div>
                                        </div>
                                    </div>

                                    <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                                        <div class="description border-white">
                                            <blockquote>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil unde a cumque sequi omnis eligendi odio vero magnam veritatis aliquid ab nesciunt dignissimos distinctio earum est veniam impedit quod qui eveniet tempore nostrum maxime aliquam dolore voluptates tenetur repudiandae ut dolor debitis mollitia amet labore voluptatibus dolorum eius tempora.
                                            </blockquote>
                                        </div>
                                        <div class="name">
                                            <div class="icon">
                                                <img class="img-circle" src="img/content/avatar-2.jpg" alt="">
                                            </div>

                                            <strong>Derek Smitt</strong>
                                            <div>Director, Infostyle</div>
                                        </div>
                                    </div>

                                    <div class="respond respond-blockquote border white col-sm-12 col-md-12">
                                        <div class="description border-white">
                                            <blockquote>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi non magnam hic quos odio tenetur cumque enim provident repellat quibusdam vero velit accusantium fuga praesentium dolorum ullam quasi et quia dolore molestiae earum ipsum veniam eius sit nihil inventore necessitatibus dicta exercitationem ipsam voluptates. Ullam ipsa quo commodi.
                                            </blockquote>
                                        </div>
                                        <div class="name">
                                            <div class="icon">
                                                <img class="img-circle" src="img/content/avatar-1.jpg" alt="">
                                            </div>

                                            <strong>John Doe</strong>
                                            <div>Designer, Infostyle</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="pagination switches"></div>
                        </div>
                    </div>
                </div>
            </div><!-- .full-width-box -->
        </section>
        <section id="team">
            <div class="container">
                <div class="title-box">
                    <h1 class="title">Chúng tôi là ai ?</h1>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 bottom-padding">
                        <p class="lead"><strong>Trả qua nhiều năm làm việc và cống hiến cho những công ty Công nghệ hàng đầu việc nam. Chúng tôi tự tin và khát vọng xây dựng ước mơ cho riêng mình.</strong></p>
                        <p>4biz ra đời trước xu thế bùng nổ thương mại điện tử toàn cầu. Với mong muốn mang tất cả kinh nghiệm làm việc với những hiện thống lớn, dữ liệu phức tạp, thiết kế hướng người dùng,... chúng tôi hân hạnh mang đến những giải pháp công nghệ hiện đại nhất, ổn định nhất và hiệu quả nhất cho ý tưởng kinh doanh của bạn.</p>
                        <p>Bằng tất cả tâm huyết của người làm nghề, chúng tôi luôn xem những sản phẩm tạo ra là con đẻ của mình. Chăm sóc và hoàn thiện chúng một cách hoàn hảo nhất. Tất cả vì thương hiệu 4biz.vn!</p>
                        <a href="#" class="btn btn-default">Xem thêm</a>
                    </div>

                    <div class="col-sm-6 col-md-6 bottom-padding">
                        <div class="progress border-radius hover" data-appear-progress-animation="90%">
                            <div class="progress-bar progress-bar-info">Kinh nghiệm xây dựng ứng dụng Web 90%</div>
                        </div>

                        <div class="progress border-radius" data-appear-progress-animation="80%">
                            <div class="progress-bar progress-bar-success">Kinh nghiệm làm SEO 80%</div>
                        </div>

                        <div class="progress border-radius" data-appear-progress-animation="60%">
                            <div class="progress-bar progress-bar-info">Kinh nghiệp xây dựng Ứng dụng di động 70%</div>
                        </div>

                        <div class="progress border-radius" data-appear-progress-animation="85%">
                            <div class="progress-bar progress-bar-warning">Kinh nghiệm bảo trì sản phẩm sẵn có 85%</div>
                        </div>

                        <div class="progress border-radius" data-appear-progress-animation="60%">
                            <div class="progress-bar progress-bar-danger">Kinh nghiệm tạo Bộ nhận dạng thương hiệu 60%</div>
                        </div>

                        <div class="progress border-radius" data-appear-progress-animation="75%">
                            <div class="progress-bar progress-bar-success">Kinh nghiệm xâu dựng Ứng dụng ERP 75%</div>
                        </div>
                    </div><!-- .employee -->
                </div>

                <div class="carousel-box bottom-padding load">
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="carousel no-responsive gallery">
                            <div class="col-sm-4 col-md-3">
                                <a class="gallery-images" rel="fancybox" href="~/img/content/team/01.jpg">
                                    <img src="~/img/content/team/01.jpg" width="270" height="135" alt="">
                                    <span class="bg-images"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <a class="gallery-images" rel="fancybox" href="~/img/content/team/02.jpg">
                                    <img src="~/img/content/team/02.jpg" width="270" height="135" alt="">
                                    <span class="bg-images"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <a class="gallery-images" rel="fancybox" href="~/img/content/team/03.jpg">
                                    <img src="~/img/content/team/03.jpg" width="270" height="135" alt="">
                                    <span class="bg-images"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <a class="gallery-images" rel="fancybox" href="~/img/content/team/04.jpg">
                                    <img src="~/img/content/team/04.jpg" width="270" height="135" alt="">
                                    <span class="bg-images"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="full-width-box bottom-padding cm-padding-bottom-36">
                <div class="fwb-bg fwb-fixed band-5"><div class="overlay"></div></div>

                <div class="container">
                    <div class="title-box title-white">
                        <h1 class="title no-top-padding">Nhóm chúng tôi</h1>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-3 col-md-3 rotation employee">
                            <div class="default">
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Troy Lee</h3>
                                        <div class="role">Project Manager</div>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Troy Lee</h3>
                                <div class="role">Project Manager</div>
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Thiết kế, xây dựng và quản lý các dự án Web và Mobile.</p>
                                    <div class="contact"><b>Email: </b>troylee@4biz.vn</div>
                                    <div class="contact"><b>Phone: </b>0986 111 680</div>
                                </div>
                                <div class="social">
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="https://www.facebook.com/troyvnit"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-gplus" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-linkedin" href="#"></a></div>
                                </div>
                            </div><!-- .employee-hover -->
                        </div>
                        <!-- .employee

                -->
                        <div class="col-sm-3 col-md-3 rotation employee">
                            <div class="default">
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Jon O. Example</h3>
                                        <div class="role">Web designer</div>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Jon O. Example</h3>
                                <div class="role">Web designer</div>
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                                    <div class="contact"><b>Email: </b>mett@itembridge.com</div>
                                    <div class="contact"><b>Phone: </b>11 555 333 77</div>
                                </div>
                                <div class="social">
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-twitter" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-gplus" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-linkedin" href="#"></a></div>
                                </div>
                            </div><!-- .employee-hover -->
                        </div>
                        <!-- .employee

                -->
                        <div class="col-sm-3 col-md-3 rotation employee">
                            <div class="default">
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Turanga Leela</h3>
                                        <div class="role">Graphic designer</div>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Turanga Leela</h3>
                                <div class="role">Graphic designer</div>
                                <div class="image">
                                    <img src="~/img/content/team/troy.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                                    <div class="contact"><b>Email: </b>mett@itembridge.com</div>
                                    <div class="contact"><b>Phone: </b>11 555 333 77</div>
                                </div>
                                <div class="social">
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-twitter" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-gplus" href="#"></a></div>
                                    <div class="item"><a class="sbtnf sbtnf-rounded color color-hover icon-linkedin" href="#"></a></div>
                                </div>
                            </div><!-- .employee-hover -->
                        </div>
                        <!-- .employee

                -->
                    </div>
                </div>
            </div><!-- .full-width-box -->
        </section>
</article>
</div><!-- #main -->
