@using System.ServiceModel.Syndication
@{
    ViewBag.Title = "Home Page";
    var feedItems = (IEnumerable<SyndicationItem>) ViewBag.FeedItems;
}
<div class="slider rs-slider load">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                    <div class="elements">
                        <div class="tp-caption lfl"
                             data-x="211"
                             data-y="203"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider4-img1.png" class="replace-2x" width="217" height="172" alt="">
                        </div>

                        <div class="tp-caption lft"
                             data-x="97"
                             data-y="271"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="img/content/slider/rs-slider4-img2.png" class="replace-2x" width="71" height="104" alt="">
                        </div>

                        <div class="tp-caption lft"
                             data-x="479"
                             data-y="271"
                             data-speed="1000"
                             data-start="1200"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="img/content/slider/rs-slider4-img2.png" class="replace-2x" width="71" height="104" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="-32"
                             data-y="372"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="img/content/slider/rs-slider4-img3.png" class="replace-2x" width="764" height="76" alt="">
                        </div>

                        <div class="tp-caption lft"
                             data-x="166"
                             data-y="167"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="img/content/slider/rs-slider4-img4.png" class="replace-2x" width="247" height="71" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="177"
                             data-y="62"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 100%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider4-img5.png" class="replace-2x" width="166" height="107" alt="">
                        </div>

                        <div class="tp-caption lft"
                             data-x="487"
                             data-y="69"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 1">
                            <img src="img/content/slider/rs-slider4-img6.png" class="replace-2x" width="104" height="157" alt="">
                        </div>

                        <div class="tp-caption lfl"
                             data-x="539"
                             data-y="177"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider4-img7.png" class="replace-2x" width="95" height="197" alt="">
                        </div>

                        <div class="tp-caption lfl lft"
                             data-x="7"
                             data-y="134"
                             data-speed="1000"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider4-img8.png" class="replace-2x" width="275" height="240" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="375"
                             data-y="78"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn">
                            <img src="img/content/slider/rs-slider4-img9.png" class="replace-2x" width="101" height="101" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="141"
                             data-y="297"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider4-img10.png" class="replace-2x" width="64" height="77" alt="">
                        </div>

                        <div class="tp-caption lfl"
                             data-x="428"
                             data-y="356"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider4-img11.png" class="replace-2x" width="35" height="14" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="225"
                             data-y="335"
                             data-speed="1000"
                             data-start="1880"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider4-img12.png" class="replace-2x" width="33" height="25" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="258"
                             data-y="341"
                             data-speed="1000"
                             data-start="1960"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider4-img13.png" class="replace-2x" width="33" height="25" alt="">
                        </div>

                        <div class="tp-caption lfb"
                             data-x="395"
                             data-y="335"
                             data-speed="1000"
                             data-start="2040"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider4-img14.png" class="replace-2x" width="33" height="25" alt="">
                        </div>

                        <h2 class="tp-caption lft skewtotop title"
                            data-x="722"
                            data-y="101"
                            data-speed="1000"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power1.easeIn">
                            <strong>DIY</strong>
                        </h2>

                        <div class="tp-caption lfr skewtoright description"
                             data-x="707"
                             data-y="189"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 480px">
                            <p>
                                We added <strong>more than 80 items</strong> to the standard page design.
                                You can form the page yourself by placing any information
                                you want – graphs, tables, buttons, slides, animated
                                content, maps and so on.
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn cherry tp-caption lfb btn-default"
                           data-x="722"
                           data-y="342"
                           data-speed="1000"
                           data-start="1700"
                           data-easing="Power4.easeOut"
                           data-endspeed="500"
                           data-endeasing="Power1.easeIn">
                            Read more
                        </a>
                    </div>

                    <img src="img/content/slider/rs-slider4-bg.jpg" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>

                <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                    <div class="elements">
                        <div class="tp-caption lfb skewtobottom"
                             data-x="145"
                             data-y="66"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider1-phone.png" class="replace-2x" width="375" height="434" alt="">
                        </div>

                        <div class="tp-caption lfb skewtobottom"
                             data-x="307"
                             data-y="105"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 1">
                            <img src="img/content/slider/rs-slider1-phone-bg.png" class="replace-2x" width="160" height="296" alt="">
                        </div>

                        <h2 class="tp-caption sft skewtotop title"
                            data-x="590"
                            data-y="101"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Power4.easeOut"
                            data-endspeed="400"
                            data-endeasing="Power1.easeIn">
                            Clean &amp; Valid code
                        </h2>

                        <div class="tp-caption lfr skewtoright description cm-description-2"
                             data-x="575"
                             data-y="189"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 600px;">
                            <p>
                                Perfect HTML5 &amp; CSS3. Valid code, latest technologies, always
                                up-to-date. Compatible with the latest desktop and mobile
                                browsers down to IE8. Works perfectly wherever you need
                                and wherever you want.
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn tp-caption customin cherry btn-default"
                           data-x="590"
                           data-y="332"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1200"
                           data-start="1400"
                           data-easing="Power3.easeInOut"
                           data-endspeed="300"
                           style="z-index: 5">
                            Read more
                        </a>
                        <div class="tp-caption customin customout"
                             data-x="337"
                             data-y="148"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1200"
                             data-start="800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="300"
                             style="z-index: 5">
                            <img src="img/content/slider/rs-slider1-html5-1.png" class="replace-2x" width="99" height="111" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="355"
                             data-y="158"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1200"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-end="3300"
                             data-endspeed="400"
                             style="z-index: 5">
                            <img src="img/content/slider/rs-slider1-html5-2.png" class="replace-2x" width="72" height="91" alt="">
                        </div>

                        <div class="tp-caption customin"
                             data-x="355"
                             data-y="158"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1200"
                             data-start="3700"
                             data-easing="Power3.easeInOut"
                             data-endspeed="100"
                             style="z-index: 5">
                            <img src="img/content/slider/rs-slider1-css3.png" class="replace-2x" width="72" height="91" alt="">
                        </div>

                        <div class="tp-caption lfb skewtobottom customin customout phone-text"
                             data-x="359"
                             data-y="325"
                             data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power0.easeOut"
                             data-end="3500"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            HTML5
                        </div>

                        <div class="tp-caption lfb skewtobottom customin customout phone-text"
                             data-x="365"
                             data-y="325"
                             data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="3600"
                             data-easing="Power0.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            CSS3
                        </div>
                    </div>

                    <img src="img/content/slider/rs-slider1-bg.jpg" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>

                <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                    <div class="elements">
                        <h2 class="tp-caption sft skewtotop title"
                            data-x="15"
                            data-y="101"
                            data-speed="1000"
                            data-start="1100"
                            data-easing="Power4.easeOut"
                            data-endspeed="400"
                            data-endeasing="Power1.easeIn">
                            Four homepages
                        </h2>

                        <div class="tp-caption lfl skewtoleft description col-xs-5"
                             data-x="0"
                             data-y="189"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 520px;">
                            <p>
                                We have developed four different homepages for you to choose
                                the most convenient one. Make your choice based on your own
                                taste and sense of style, use extra elements and Twitter
                                Bootstrap to build any page you want.
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="btn btn-primary tp-caption customin"
                           data-x="15"
                           data-y="332"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1200"
                           data-start="1000"
                           data-easing="Power3.easeInOut"
                           data-endspeed="300"
                           style="z-index: 5">
                            Read more
                        </a>

                        <div class="tp-caption lfb skewtobottom customin"
                             data-x="right"
                             data-hoffset="100"
                             data-y="70"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-360;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-end="14000"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider2-img.png" class="replace-2x" width="731" height="284" alt="">
                        </div>

                        <div class="tp-caption lfb customout"
                             data-x="right"
                             data-hoffset="-126"
                             data-y="70"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="2000"
                             data-easing="Power0.easeOut"
                             data-end="3000"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider2-homepage1.png" class="replace-2x" width="277" height="280" alt="">
                        </div>

                        <div class="tp-caption lfb customout"
                             data-x="right"
                             data-hoffset="-126"
                             data-y="70"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3500"
                             data-easing="Power0.easeOut"
                             data-end="4500"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider2-homepage2.png" class="replace-2x" width="277" height="280" alt="">
                        </div>

                        <div class="tp-caption lfb customout"
                             data-x="right"
                             data-hoffset="-126"
                             data-y="70"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="5000"
                             data-easing="Power0.easeOut"
                             data-end="6000"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider2-homepage3.png" class="replace-2x" width="277" height="280" alt="">
                        </div>

                        <div class="tp-caption lfb customout"
                             data-x="right"
                             data-hoffset="-126"
                             data-y="70"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="6500"
                             data-easing="Power0.easeOut"
                             data-end="7500"
                             data-endspeed="400"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider2-homepage4.png" class="replace-2x" width="277" height="280" alt="">
                        </div>

                        <div class="tp-caption  customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="2300"
                             data-easing="Power0.easeOut"
                             data-end="3800"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-one.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="3800"
                             data-easing="Power0.easeOut"
                             data-end="5300"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-two.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="5300"
                             data-easing="Power0.easeOut"
                             data-end="6800"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-three.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="6800"
                             data-easing="Power0.easeOut"
                             data-end="8000"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-four.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="8200"
                             data-easing="Power0.easeOut"
                             data-end="8300"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-four.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="8400"
                             data-easing="Power0.easeOut"
                             data-end="8500"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-four.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="8600"
                             data-easing="Power0.easeOut"
                             data-end="8700"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-four.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-208"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="8800"
                             data-easing="Power0.easeOut"
                             data-end="8900"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-four.png" class="replace-2x" width="110" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-239"
                             data-y="187"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9000"
                             data-easing="Power0.easeOut"
                             data-end="10300"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate1.png" class="replace-2x" width="48" height="48" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-224"
                             data-y="172"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9100"
                             data-easing="Power0.easeOut"
                             data-end="10200"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate2.png" class="replace-2x" width="79" height="79" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-209"
                             data-y="157"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9200"
                             data-easing="Power0.easeOut"
                             data-end="10100"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate3.png" class="replace-2x" width="110" height="107" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-194"
                             data-y="142"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9300"
                             data-easing="Power0.easeOut"
                             data-end="10000"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate4.png" class="replace-2x" width="140" height="138" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-179"
                             data-y="127"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9400"
                             data-easing="Power0.easeOut"
                             data-end="9900"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate5.png" class="replace-2x" width="170" height="168" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-164"
                             data-y="112"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9500"
                             data-easing="Power0.easeOut"
                             data-end="9800"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate6.png" class="replace-2x" width="200" height="200" alt="">
                        </div>

                        <div class="tp-caption customin customout"
                             data-x="right"
                             data-hoffset="-149"
                             data-y="97"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1"
                             data-start="9600"
                             data-easing="Power0.easeOut"
                             data-end="9700"
                             data-endspeed="1"
                             data-endeasing="Power0.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            <img src="img/content/slider/rs-slider2-quadrate7.png" class="replace-2x" width="231" height="231" alt="">
                        </div>
                    </div>

                    <img src="img/content/slider/rs-slider2-bg.jpg" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>

                <li data-delay="8000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                    <div class="elements">
                        <div class="tp-caption lfl skewtoleft"
                             data-x="-121"
                             data-y="bottom"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="1000"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 1">
                            <img src="img/content/slider/rs-slider3-pig.png" class="replace-2x" width="576" height="393" alt="">
                        </div>

                        <div class="tp-caption lfl skewtoleft"
                             data-x="-121"
                             data-y="bottom"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="1000"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="img/content/slider/rs-slider3-pig2.png" class="replace-2x" width="576" height="393" alt="">
                        </div>
                        <h2 class="tp-caption lft skewtotop title"
                            data-x="509"
                            data-y="122"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="Power0.easeOut"
                            data-endspeed="1000"
                            data-endeasing="Power1.easeIn">
                            <strong>Save money</strong>
                        </h2>

                        <h2 class="tp-caption lfr skewtoright title"
                            data-x="755"
                            data-y="122"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="Power4.easeOut"
                            data-endspeed="1000"
                            data-endeasing="Power1.easeIn">
                            on additional plugin!
                        </h2>

                        <div class="tp-caption customin customout description col-xs-5"
                             data-x="527"
                             data-y="196"
                             data-customin="x:0;y:0;z:50;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Power1.easeIn"
                             style="max-width: 500px;">
                            <p>
                                Create a responsive or fullwidth slider with must-see-effects.
                                Plugin features tons of unique transition effects, an image
                                preloader, video embedding, autoplay and lots of easy to
                                set options to create your own effects.
                            </p>
                        </div>
                        <a href="http://themeforest.net/item/progressive-multipurpose-responsive-template/7197521"
                           class="tp-caption btn orang lfb skewtobottom btn-default"
                           data-x="509"
                           data-y="338"
                           data-speed="1000"
                           data-start="1500"
                           data-easing="Power3.easeInOut"
                           data-endspeed="300">
                            Read more
                        </a>
                        <div class="tp-caption lft customout"
                             data-x="136"
                             data-y="140"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2200"
                             data-easing="Power4.easeOut"
                             data-end="2400"
                             data-endspeed="100"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider3-coin.png" class="replace-2x" width="64" height="68" alt="">
                        </div>

                        <div class="tp-caption lft customout"
                             data-x="136"
                             data-y="30"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2700"
                             data-easing="Power4.easeOut"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 2">
                            <img src="img/content/slider/rs-slider3-coin.png" class="replace-2x" width="64" height="68" alt="">
                        </div>
                    </div>

                    <img src="img/content/slider/rs-slider3-bg.jpg" class="replace-2x" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div><!-- .rs-slider -->
@if (feedItems != null)
{
    <div class="banner-set banner-set-mini banner-set-no-pagination load">
        <div class="container">
            <div class="banners">
                @foreach (var feedItem in feedItems)
                {
                    <a href="@feedItem.Links[0].GetAbsoluteUri()" class="banner">
                        <img src="@feedItem.BaseUri" class="replace-2x" width="127" height="79" alt="">
                        <h2 class="title">@feedItem.Title.Text</h2>
                    </a>
                }
            </div><!-- .banners -->
            <div class="clearfix"></div>
        </div>
        <div class="nav-box">
            <div class="container">
                <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <div class="pagination switches"></div>
                <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
    <!-- .banner-set -->
}
<div class="clearfix"></div>
<section id="main">
    <article class="content">
        <div class="container">
            <div class="bottom-padding">
                <div class="text-center">
                    <div class="title-box text-center" data-appear-animation="fadeInDown">
                        <h1 class="title">About Us</h1>
                    </div>
                    <p data-appear-animation="bounce">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quisquam aperiam necessitatibus id consequuntur quidem praesentium laboriosam repellendus modi fugiat aliquam quam minus mollitia eveniet sapiente perferendis voluptatibus ad rem? Id nesciunt alias neque non illum facilis nobis cupiditate ullam corrupti nisi esse cum tempore tempora praesentium soluta autem vitae!</p>
                    <a href="#" class="btn btn-default" data-appear-animation="wobble">Read more</a>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="bottom-padding">
                <div class="title-box text-center" data-appear-animation="fadeInDown">
                    <h1 class="title">Services</h1>
                </div>
                <div class="row services">
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInLeft">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="tablet" data-s="42" data-c="#c10841" data-hc="0"></div>
                            </div>
                            <h6 class="title">Web Design</h6>
                            <div class="text-small">Content management systens Virtual shops and ecommerce Presentation websites Online catalogues</div>
                        </a>
                    </div>
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInDown">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="brush" data-s="42" data-c="#c10841" data-hc="0"></div>
                            </div>
                            <h6 class="title">Graphic Design</h6>
                            <div class="text-small">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
                        </a>
                    </div>
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInDown">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="responsive" data-s="42" data-c="#c10841" data-hc="0" data-d="1600"></div>
                            </div>
                            <h6 class="title">Internet Marketing</h6>
                            <div class="text-small">Content management systens Virtual shops and ecommerce Presentation websites Online catalogues</div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInLeft">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="piggybank" data-s="42" data-c="#c10841" data-hc="0"></div>
                            </div>
                            <h6 class="title">Graphic Design</h6>
                            <div class="text-small">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
                        </a>
                    </div>
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInUp">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="users" data-s="42" data-c="#c10841" data-hc="0" data-d="1600"></div>
                            </div>
                            <h6 class="title">Internet Marketing</h6>
                            <div class="text-small">Content management systens Virtual shops and ecommerce Presentation websites Online catalogues</div>
                        </a>
                    </div>
                    <div class="service col-sm-4 col-md-4" data-appear-animation="bounceInUp">
                        <a href="#">
                            <div class="icon border border-error">
                                <div class="livicon" data-n="thumbs-up" data-s="42" data-c="#c10841" data-hc="0"></div>
                            </div>
                            <h6 class="title">Graphic Design</h6>
                            <div class="text-small">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div id="cm-our-skills" class="full-width-box bottom-padding">
            <div class="fwb-bg band-19"><div class="overlay"></div></div>

            <div class="container">
                <div class="title-box text-center" data-appear-animation="fadeInDown">
                    <h1 class="title">Our Skills</h1>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 progress-circular bottom-padding bottom-padding-mini" data-appear-animation="fadeInLeftBig">
                        <input type="text" class="knob" value="0" rel="60" data-linecap="round" data-width="200" data-bgcolor="#f2f2f2" data-fgcolor="#738d00" data-thickness=".15" data-readonly="true" disabled="">
                    </div>
                    <div class="col-sm-6 col-md-3 progress-circular bottom-padding bottom-padding-mini" data-appear-animation="bounceInLeft">
                        <input type="text" class="knob" value="0" rel="10" data-linecap="round" data-width="200" data-bgcolor="#f2f2f2" data-fgcolor="#c10841" data-thickness=".15" data-readonly="true" disabled="">
                    </div>
                    <div class="col-sm-6 col-md-3 progress-circular bottom-padding bottom-padding-mini" data-appear-animation="bounceInRight">
                        <input type="text" class="knob" value="0" rel="50" data-linecap="round" data-width="200" data-bgcolor="#f2f2f2" data-fgcolor="#f89406" data-thickness=".15" data-readonly="true" disabled="">
                    </div>
                    <div class="col-sm-6 col-md-3 progress-circular bottom-padding bottom-padding-mini" data-appear-animation="fadeInRightBig">
                        <input type="text" class="knob" value="0" rel="95" data-linecap="round" data-width="200" data-bgcolor="#f2f2f2" data-fgcolor="#0098ca" data-thickness=".15" data-readonly="true" disabled="">
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div><!-- .full-width-box -->

        <div class="container">
            <div class="bottom-padding">
                <div class="title-box text-center" data-appear-animation="fadeInDown">
                    <h1 class="title">Workflow</h1>
                </div>

                <div class="steps" data-appear-animation="fadeIn">
                    <div class="step text-center border-warning bg-warning white">
                        <div class="step-wrapper">
                            <span class="livicon" data-n="star-empty" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                            <div class="title-box text-center title-white">
                                <h4 class="title">Idea</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente pariatur dolores neque corporis adipisci.</p>
                        </div>
                    </div>

                    <div class="step text-center border-grey bg-grey white">
                        <div class="step-wrapper">
                            <span class="livicon" data-n="pencil" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                            <div class="title-box text-center title-white">
                                <h4 class="title">Design</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente pariatur dolores neque corporis adipisci.</p>
                        </div>
                    </div>

                    <div class="step text-center border-info bg-info white">
                        <div class="step-wrapper">
                            <span class="livicon" data-n="hammer" data-s="62" data-c="#fff" data-hc="#f6f5f5"></span>
                            <div class="title-box text-center title-white">
                                <h4 class="title">Development</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente pariatur dolores neque corporis adipisci.</p>
                        </div>
                    </div>

                    <div class="step text-center border-success bg-success white">
                        <div class="step-wrapper">
                            <span class="livicon" data-n="bug" data-c="#fff" data-hc="#f6f5f5" data-s="64"></span>
                            <div class="title-box text-center title-white">
                                <h4 class="title">Test</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente pariatur dolores neque corporis adipisci.</p>
                        </div>
                    </div>

                    <div class="step text-center border-error bg-error white">
                        <div class="step-wrapper">
                            <span class="livicon" data-n="rocket" data-s="48" data-c="#fff" data-hc="#f6f5f5"></span>
                            <div class="title-box text-center title-white">
                                <h4 class="title">Result</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente pariatur dolores neque corporis adipisci.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="full-width-box bottom-padding">
            <div class="fwb-bg fwb-fixed band-12"><div class="overlay"></div></div>

            <div class="container">
                <div class="row">
                    <div class="carousel-box load" data-carousel-pagination="true" data-carousel-nav="false" data-carousel-autoplay="true">
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="carousel no-responsive">
                                <div class="col-sm-3 col-md-3">
                                    <a href="portfolio-single.html" class="work">
                                        <img src="img/content/portfolio-1-270.jpg" class="replace-2x" width="370" height="270" alt="">
                                        <span class="shadow"></span>
                                        <div class="bg-hover"></div>
                                        <div class="work-title">
                                            <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                            <div class="description">Web design</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <a href="portfolio-single.html" class="work">
                                        <img src="img/content/portfolio-2-270.jpg" class="replace-2x" width="370" height="270" alt="">
                                        <span class="shadow"></span>
                                        <div class="bg-hover"></div>
                                        <div class="work-title">
                                            <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                            <div class="description">Web design</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <a href="portfolio-single.html" class="work">
                                        <img src="img/content/portfolio-3-270.jpg" class="replace-2x" width="370" height="270" alt="">
                                        <span class="shadow"></span>
                                        <div class="bg-hover"></div>
                                        <div class="work-title">
                                            <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                            <div class="description">Web design</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <a href="portfolio-single.html" class="work">
                                        <img src="img/content/portfolio-4-270.jpg" class="replace-2x" width="370" height="270" alt="">
                                        <span class="shadow"></span>
                                        <div class="bg-hover"></div>
                                        <div class="work-title">
                                            <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                            <div class="description">Web design</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <a href="portfolio-single.html" class="work">
                                        <img src="img/content/portfolio-5-270.jpg" class="replace-2x" width="370" height="270" alt="">
                                        <span class="shadow"></span>
                                        <div class="bg-hover"></div>
                                        <div class="work-title">
                                            <h3 class="title">Morbi non lacus ac sapien molestie</h3>
                                            <div class="description">Web design</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="pagination switches"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .full-width-box -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 promo-partners bottom-padding">
                    <div class="title-box">
                        <h2 class="title">Our partners</h2>
                    </div>
                    <div class="row manufactures manufactures-list">
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="img/content/make-2.png" class="replace-2x" width="128" height="128" alt="">
                            </a>
                        </div>
                        <!--

                        -->
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="img/content/make-3.png" class="replace-2x" width="128" height="128" alt="">
                            </a>
                        </div>
                        <!--

                        -->
                        <div class="make-wrapper">
                            <a href="#" class="make">
                                <img src="img/content/make-4.png" class="replace-2x" width="128" height="128" alt="">
                            </a>
                        </div>
                    </div>
                    <p>Duis bibendum pulvinar laoreet. Ut eu arcu sit amet elit placerat pharetra sit amet a tortor. Fusce vestibulum auctor rhoncus. Nullam rhoncus, tellus a congue elementum, leo ipsum tincidunt justo, ut condimentum velit eros et lectus. Phasellus ultrices rhoncus vehicula.</p>
                    <p>Integer ultricies semper massa non condimentum. Phasellus eu ipsum justo. Nullam non pulvinar purus. Ut ante ipsum, venenatis at tristique quis, congue vitae felis. Aliquam cursus diam in massa dapibus auctor. In volutpat, risus non egestas luctus, justo tellus laoreet justo. </p>
                </div><!-- .promo-partners -->

                <div class="col-sm-12 col-md-6">
                    <div class="title-box">
                        <a href="#" class="btn btn-default">All posts <span class="glyphicon glyphicon-arrow-right"></span></a>
                        <h2 class="title">Latest Posts</h2>
                    </div>
                    <ul class="latest-posts">
                        <li>
                            <img class="image img-circle replace-2x" src="img/content/product-1-84.png" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus.
                                </a>
                            </div>
                        </li>
                        <li>
                            <img class="image img-circle replace-2x" src="img/content/product-2-84.png" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Maecenas porttitor orci vitae turpis interdum sit amet dignissim dolor consequat. Aenean id erat lorem.
                                </a>
                            </div>
                        </li>
                        <li>
                            <img class="image img-circle replace-2x" src="img/content/product-3-84.png" alt="" title="" width="84" height="84" data-appear-animation="rotateIn">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <div class="description">
                                <a href="#">
                                    Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque fermentum eget rutrum orci pulvinar.
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section><!-- #main -->
